<div class="bg-white shadow">
  <div class="container px-4 py-2 mx-auto md:py-3">
    <div class="flex items-center justify-between">
      <!-- Twitter Titulo -->
      <div class="flex justify-between text-lg font-bold md:text-xl">
        <img src="assets/twitter-logo.png/">
        <h1>Twitter</h1>
      </div>

      <!-- Usuário -->
      <div class="relative">
        <div class="flex items-center justify-center w-10 h-10 text-blue-600 bg-blue-200 rounded-full cursor-pointer">
          M
        </div>
      </div>
    </div>
  </div>
</div>